html {
  padding: 0px 50px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fcfcfd;
  color: #2d2d2d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.logo .dot {
  color: #6e06f2;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 600;
}

nav ul li a.active {
  color: #6e06f2;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  min-height: 80vh;
}

.home-left {
  max-width: 600px;
}

.home-left .intro {
  font-size: 22px;
  margin-bottom: 10px;
}

.home-left h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 20px;
}

.home-left .highlight {
  color: #8a3ffc;
}

.home-left .desc {
  font-size: 18px;
  color: #5f5f5f;
  line-height: 1.6;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

.primary {
  background-color: #8a3ffc;
  color: white;
  border: none;
}

.secondary {
  background-color: white;
  color: #2d2d2d;
  border: 2px solid #2d2d2d;
}

.home-right .image-wrapper {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid #c9bdf3;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}
